CREATE DATABASE DEVAPP;
CREATE USER 'developer'@'localhost' IDENTIFIED BY '<PASSWORD>';
GRANT CREATE, ALTER, DROP, INSERT, UPDATE, DELETE, SELECT, REFERENCES, RELOAD on *.* TO 'developer'@'localhost' WITH GRANT OPTION;
FLUSH PRIVILEGES;
USE DEVAPP;
CREATE TABLE departments (DEPT INT(4) NOT NULL PRIMARY KEY, DEPT_NAME VARCHAR(250) NOT NULL);
INSERT INTO departments (DEPT, DEPT_NAME) VALUES (1001, 'Human Resources'), (1002, 'Finance'), (1003, 'IT Services'), (1004, 'Marketing'),
(1005, 'Sales');